In [1]:
import pandas as pd 
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from imblearn.over_sampling import SMOTE
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, confusion_matrix
import joblib

In [2]:
df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))

/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (36,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))
/tmp/ipykernel_354257/154780473.py:1: DtypeWarning: Columns (48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.concat(map(pd.read_csv, ['2016_01.csv', '2016_02.csv','2016_03.csv','2016_04.csv','2016_05.csv','2016_06.csv','2016_07.csv','2016_08.csv','2016_09.csv','2016_10.csv','2016_11.csv','2016_12.csv']))

In [3]:
colonnes_a_supprimer = ['YEAR', 'QUARTER','CARRIER','ORIGIN_CITY_MARKET_ID','DEST_AIRPORT_SEQ_ID','ORIGIN_STATE_NM', 'MONTH', 'DAY_OF_MONTH', 'DAY_OF_WEEK','DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP','ARR_TIME', 'ARR_DELAY','DEST_CITY_MARKET_ID','DEP_TIME_BLK','ORIGIN_STATE_FIPS','ORIGIN_AIRPORT_SEQ_ID','DIVERTED','DEP_TIME','CANCELLED','DEST_STATE_ABR','ARR_DEL15', 'CARRIER_DELAY', 'WEATHER_DELAY', 'NAS_DELAY',
       'SECURITY_DELAY', 'LATE_AIRCRAFT_DELAY','ARR_TIME_BLK','DEST_WAC','AIR_TIME','FLIGHTS','ORIGIN_WAC','WHEELS_OFF', 'WHEELS_ON','TAXI_IN','ACTUAL_ELAPSED_TIME','TAXI_OUT','ARR_DELAY_GROUP','CANCELLATION_CODE','FIRST_DEP_TIME', 'TOTAL_ADD_GTIME',
       'LONGEST_ADD_GTIME', 'Unnamed: 64','DISTANCE_GROUP','DEST_STATE_FIPS','AIRLINE_ID', 'TAIL_NUM', 'FL_NUM',
       'ORIGIN_AIRPORT_ID', 'ORIGIN','DEST_AIRPORT_ID','ORIGIN_STATE_ABR','CRS_ELAPSED_TIME','DEST_STATE_NM','DEST']

In [4]:
df = df.drop(columns=colonnes_a_supprimer, axis=1)

In [5]:
df

,FL_DATE,UNIQUE_CARRIER,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DELAY_NEW,DISTANCE
0,2016-01-06,AA,"Dallas/Fort Worth, TX","Detroit, MI",1100.0,1438.0,0.0,986.0
1,2016-01-07,AA,"Dallas/Fort Worth, TX","Detroit, MI",1100.0,1438.0,0.0,986.0
2,2016-01-08,AA,"Dallas/Fort Worth, TX","Detroit, MI",1100.0,1438.0,7.0,986.0
3,2016-01-09,AA,"Dallas/Fort Worth, TX","Detroit, MI",1100.0,1438.0,0.0,986.0
4,2016-01-10,AA,"Dallas/Fort Worth, TX","Detroit, MI",1100.0,1438.0,113.0,986.0
...,...,...,...,...,...,...,...,...
460944,2016-12-31,WN,"Tucson, AZ","Los Angeles, CA",755.0,830.0,0.0,451.0
460945,2016-12-31,WN,"Tucson, AZ","Los Angeles, CA",1320.0,1355.0,9.0,451.0
460946,2016-12-31,WN,"Tucson, AZ","Chicago, IL",705.0,1125.0,0.0,1440.0
460947,2016-12-31,WN,"Tucson, AZ","San Diego, CA",1220.0,1235.0,0.0,368.0
460948,2016-12-31,WN,"Tucson, AZ","San Diego, CA",800.0,820.0,0.0,368.0

In [6]:
df = df.dropna()

In [7]:
import numpy as np
np.random.seed(42)
echantillon = df.sample(frac=0.20)
echantillon

,FL_DATE,UNIQUE_CARRIER,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,CRS_ARR_TIME,ARR_DELAY_NEW,DISTANCE
105913,2016-05-08,EV,"Manchester, NH","Detroit, MI",1233.0,1444.0,0.0,610.0
353290,2016-10-04,DL,"Atlanta, GA","Wilmington, NC",1904.0,2023.0,0.0,377.0
353004,2016-09-09,DL,"Indianapolis, IN","Minneapolis, MN",1812.0,1859.0,0.0,503.0
347387,2016-01-04,WN,"Islip, NY","Tampa, FL",605.0,915.0,0.0,1034.0
259896,2016-10-25,AA,"Miami, FL","Dallas/Fort Worth, TX",2020.0,2235.0,4.0,1121.0
...,...,...,...,...,...,...,...,...
398713,2016-10-18,OO,"Phoenix, AZ","Seattle, WA",1100.0,1415.0,3.0,1107.0
162800,2016-08-17,DL,"Hartford, CT","Detroit, MI",1835.0,2032.0,33.0,549.0
57576,2016-04-27,DL,"New York, NY","San Juan, PR",1459.0,1853.0,42.0,1598.0
121760,2016-11-02,WN,"Tampa, FL","Raleigh/Durham, NC",1725.0,1905.0,3.0,587.0
205907,2016-11-28,WN,"Boston, MA","Austin, TX",930.0,1320.0,23.0,1698.0

In [8]:
echantillon['delay_status'] = np.where(echantillon['ARR_DELAY_NEW'] > 0, 'on-time', 'delayed')

In [9]:
colonnes_a_supprimer = ['ARR_DELAY_NEW']

In [10]:
echantillon = echantillon.drop(columns=colonnes_a_supprimer, axis=1)

In [11]:
echantillon

,FL_DATE,UNIQUE_CARRIER,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,CRS_ARR_TIME,DISTANCE,delay_status
105913,2016-05-08,EV,"Manchester, NH","Detroit, MI",1233.0,1444.0,610.0,delayed
353290,2016-10-04,DL,"Atlanta, GA","Wilmington, NC",1904.0,2023.0,377.0,delayed
353004,2016-09-09,DL,"Indianapolis, IN","Minneapolis, MN",1812.0,1859.0,503.0,delayed
347387,2016-01-04,WN,"Islip, NY","Tampa, FL",605.0,915.0,1034.0,delayed
259896,2016-10-25,AA,"Miami, FL","Dallas/Fort Worth, TX",2020.0,2235.0,1121.0,on-time
...,...,...,...,...,...,...,...,...
398713,2016-10-18,OO,"Phoenix, AZ","Seattle, WA",1100.0,1415.0,1107.0,on-time
162800,2016-08-17,DL,"Hartford, CT","Detroit, MI",1835.0,2032.0,549.0,on-time
57576,2016-04-27,DL,"New York, NY","San Juan, PR",1459.0,1853.0,1598.0,on-time
121760,2016-11-02,WN,"Tampa, FL","Raleigh/Durham, NC",1725.0,1905.0,587.0,on-time
205907,2016-11-28,WN,"Boston, MA","Austin, TX",930.0,1320.0,1698.0,on-time

In [12]:
label_encoder = LabelEncoder()
echantillon['delay_status'] = label_encoder.fit_transform(echantillon['delay_status'])

echantillon['FL_DATE'] = pd.to_datetime(echantillon['FL_DATE'])
echantillon['FL_DATE'] = echantillon['FL_DATE'].map(pd.Timestamp.toordinal)

for column in echantillon.select_dtypes(include=['object']).columns:
    echantillon[column] = label_encoder.fit_transform(echantillon[column])

print(echantillon.dtypes)

X = echantillon.drop('delay_status', axis=1)
y = echantillon['delay_status']

smote = SMOTE(random_state=1)
X_res, y_res = smote.fit_resample(X, y)

df_resampled = pd.concat([pd.DataFrame(X_res, columns=X.columns), pd.DataFrame(y_res, columns=['delay_status'])], axis=1)

df_resampled

FL_DATE               int64
UNIQUE_CARRIER        int64
ORIGIN_CITY_NAME      int64
DEST_CITY_NAME        int64
CRS_DEP_TIME        float64
CRS_ARR_TIME        float64
DISTANCE            float64
delay_status          int64
dtype: object

,FL_DATE,UNIQUE_CARRIER,ORIGIN_CITY_NAME,DEST_CITY_NAME,CRS_DEP_TIME,CRS_ARR_TIME,DISTANCE,delay_status
0,736092,4,178,76,1233.000000,1444.000000,610.000000,0
1,736241,3,17,300,1904.000000,2023.000000,377.000000,0
2,736216,3,133,189,1812.000000,1859.000000,503.000000,0
3,735967,11,136,282,605.000000,915.000000,1034.000000,0
4,736262,0,185,70,2020.000000,2235.000000,1121.000000,1
...,...,...,...,...,...,...,...,...
1465767,736107,3,17,53,850.000000,1003.000000,226.000000,1
1465768,735982,0,56,248,708.982063,938.071747,1725.850223,1
1465769,736310,11,163,267,930.000000,1215.000000,867.000000,1
1465770,736175,3,97,17,528.868258,714.981432,573.530500,1
1465771,736127,4,61,17,1725.625674,1925.249191,559.005394,1

In [13]:
X = df_resampled[['FL_DATE', 'UNIQUE_CARRIER', 'ORIGIN_CITY_NAME', 'DEST_CITY_NAME', 'CRS_DEP_TIME', 'CRS_ARR_TIME','DISTANCE']]
y = df_resampled['delay_status']

In [14]:
X['FL_DATE'] = pd.to_datetime(X['FL_DATE'])
X['day_of_week'] = X['FL_DATE'].dt.dayofweek
X['month'] = X['FL_DATE'].dt.month
X.drop('FL_DATE', axis=1, inplace=True)

/tmp/ipykernel_354257/1855852660.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['FL_DATE'] = pd.to_datetime(X['FL_DATE'])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [16]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [17]:
clf = RandomForestClassifier(n_estimators=80, max_depth=8, random_state=42)
clf.fit(X_train, y_train)

RandomForestClassifier(max_depth=8, n_estimators=80, random_state=42)

In [18]:
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))
print(confusion_matrix(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.59      0.57      0.58    145877
           1       0.59      0.61      0.60    147278

    accuracy                           0.59    293155
   macro avg       0.59      0.59      0.59    293155
weighted avg       0.59      0.59      0.59    293155

[[82601 63276]
 [56932 90346]]